@model IEnumerable<BecketLee.ViewModels.PartnerViewModel>
@{
    ViewBag.Title = "Partners";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="card">
            <div class="card-header">
                <h3>Becket & Lee Partners</h3>
            </div>
            <div class="card-body">
                    <p style="text-align: justify">
                        The Partners of Becket & Lee are leaders in their highly specialized area of the law. The Firm carries an AV® rating from Martindale Hubbel. An AV® certification mark is a significant rating accomplishment - a testament to the fact that a lawyer's peers rank him or her at the highest level of professional excellence.
                    </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <br /><br />
        <ul class="list-inline center-block text-center">
            @foreach (var item in Model)
            {
                <li>
                    <div class="partnerSelection">
                        <a asp-action="PartnerBio" asp-controller="Partners" asp-route-id="@item.PartnerName">
                            <img src="@item.FileUrl" alt="@item.PartnerName" class="partnerAvatar" asp-append-version="true" />
                            <br />
                            @item.PartnerName

                        </a>
                    </div>

                </li>
            }
        </ul>
    </div>
</div>

