@using BecketLee.ViewModels
@model PartnerViewModel
@{
    ViewBag.Title = "Edit Bio";
}

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script language="javascript">
                CKEDITOR.replace('BiographyHtml');
    </script>
}


<div class="container-fluid">
    <form asp-action="EditPartnerBio" asp-controller="Partners" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <div class="col-sm-7 col-md-8 col-lg-9">
            <div class="form-group">
                <label asp-for="PartnerName">Name</label>
                <input asp-for="PartnerName" class="form-control" />
                <span asp-validation-for="PartnerName"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiographyHtml">Biography</label>
                <textarea type="text" asp-for="BiographyHtml" name="BiographyHtml" id="BiographyHtml" class="form-control"></textarea>
                <span asp-validation-for="BiographyHtml"></span>
            </div>
            <div>
                <input asp-for="PartnerId" type="hidden" />
                <input asp-for="FileName" type="hidden" />
                <input asp-for="FileUrl" type="hidden" />
            </div>
        </div>
            <div class="col-sm-5 col-md-4 col-lg-3">
                <div class="form-group">
                    <label asp-for="File">Photo Upload</label>
                    <input asp-for="File" />
                </div>

                <div class="form-group">
                    <img src="@Model.FileUrl" alt="@Model.PartnerName" class="partnerImage" asp-append-version="true" />
                </div>
                <div class="form-group">
                    <label asp-for="FileName">@Model.FileName</label>


                    <div class="form-group pull-right">
                        <a asp-controller="Partners" asp-action="ManagePartners" class="btn btn-sm btn-default">Cancel</a>
                        <input type="submit" class="btn btn-sm btn-success" value="Save" />
                    </div>
                </div>
            </div>
    </form>
</div>