@using BecketLee.ViewModels
@model PartnerViewModel
@{
    ViewBag.Title = "Edit Bio";
}

<form asp-action="EditBio" asp-controller="Partner" method="post" enctype="multipart/form-data">
    @section scripts{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/ckeditor/ckeditor.js"></script>
        <script language="javascript">
            CKEDITOR.replace('BiographyHtml');
        </script>
    }
    
    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="PartnerName">Name</label>
            <input asp-for="PartnerName" class="form-control"/>
            <span asp-validation-for="PartnerName"></span>
        </div>
        <div class="form-group">
            <label asp-for="BiographyHtml">Biography</label>
            <textarea type="text" asp-for="BiographyHtml" name="BiographyHtml" id="BiographyHtml" class="form-control"></textarea>
            <span asp-validation-for="BiographyHtml"></span>
        </div>
        <div>
            <input asp-for="PartnerId" type="hidden" />
            <input asp-for="FileName" type="hidden"/>
            <input asp-for="FileUrl" type="hidden" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="File">Photo Upload</label>
            <input asp-for="File" />
        </div>

        <div class="form-group">            
            <img src="@Model.FileUrl"  alt="@Model.PartnerName" class="partnerImage" asp-append-version="true"/>
        </div>
        <div class="form-group">
            <label asp-for="FileName">@Model.FileName</label>
        </div>

        <div class="form-group">
            <input type="submit" value="Save All"/>
        </div>
    </div>
</form>
