/******************  site.css  ********************/


.affiliation {
    display: block;
    margin: auto;
    width: 50%;
}
.affiliationImage {
    max-width: 170px;
    padding: 8px;  
}

.eventText {
    font-size: small;
    margin: -5px;
}
.eventDate {
    font-size: x-small;
    font-weight: bold;
    font-style: italic;
    margin-left: -5px;
    color: #aaa;
}

.headerImage {
    max-width: 200px;
    border-width: 1px;
    padding: 20px 2px 15px;
}

.logoImage {
    max-width: 230px;
    padding: 10px;
    padding-bottom: 20px;
    left: 0;
}
.subMenuSelector {
    cursor: pointer;
}

#menuGroupItem:hover {
    background-color: #bbb;
}

#menu .active {
    background-color: #7bc9f0;    
}

#menu li a:hover {
        background-color: #bbb;
}

#menuGroupItem, #menu li a {  
    line-height: 24px;
    height: 24px;
    text-align: right;
    padding-top: 0;
    /*margin-right: 16px;*/
    color:#eee;
}


#partnerDropDown a {
    margin-top: 25px;
}

/*  footer  */
.navbar-fixed-bottom li {
    text-align: center;
    list-style: none;
}

.navtext {
    margin-right: 20px;
    color: antiquewhite;
    font-style: italic;
    margin-top: 3px;
}

.rightAlign li {
    list-style-type: none;
    font-size: 14px;    
    text-align: right;
    margin: 0 15px 0 0;   
}

.scrollable-event {
    margin-left: -40px;
    height: auto;
    max-height: 450px;
    cursor: pointer;    
    overflow-x: hidden;    
}



.slideContainer {
    white-space: nowrap;    
}
.slide {    
    display: inline-block;
    white-space: normal;    
}

.SuperScript {
    font-size: 9px;
    position: relative;
    top: -3.5pt;
}

#header {
    margin: 0 0 0 230px;
}

#header .navbar {
    min-height:24px !important;
    max-height:26px !important;        
}

#menu .nav .ul .li {
    max-height: 20px;
}

#sidebar {
    position: fixed;
    height: 100%;
    width: 230px;
    overflow: hidden;
    left: 0;
    top: 0;
}

#wrapper {
    top: 0;
    left: 0;
    padding-bottom: 70px;
    margin: 0 0 0 230px;
}


@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: 0;
    }
}