/******************  site.css  ********************/

.card {
    margin-top: 1em;
}


.affiliation {
    display: block;
    margin: auto;
    width: 50%;
}

.affiliationImage {
    max-width: 170px;
    padding: 8px;
}

.alaneNewsImage {
    max-width: 500px;
}

.eventText {
    font-size: small;
    margin: -5px;
}

.eventDate {
    font-size: x-small;
    font-weight: bold;
    font-style: italic;
    margin-left: -5px;
    color: #aaa;
}

.headerImage {
    max-width: 200px;
    border-width: 1px;
    padding: 20px 2px 15px;
}

.logoImage {
    max-width: 230px;
    padding: 10px;
    padding-bottom: 20px;
    left: 0;
}

.subMenuSelector {
    cursor: pointer;
}


.image-container {
    white-space: nowrap;
}

.image-item {
    display: inline-block;
    white-space: normal;
}


#menu li a {
    line-height: 24px;
    height: 24px;
    text-align: right;
    color: #eee;
}

#menu .active {
    background-color: #356fa9;
}

#menu .nav .ul .li {
    max-height: 20px;
}

#menu li a {
    line-height: 24px;
    height: 24px;
    text-align: right;
    padding-top: 0;
    color: #eee;
}

.dropdown-menu {
    margin: 0 !important;
    padding: 0 !important;
}


/*  footer  */
.navbar-fixed-bottom li {
    list-style-type: none;
}


/* tab color */
.nav-tabs > li > a
{
    background-color: #033e77;
    border-color: #777777;
    color: antiquewhite;
}

 /* active tab color */
.nav-tabs > li.active > a
.nav-tabs > li.active > a:focus
/*,.nav-tabs > li.active > a:hover*/
{
    background-color: #fff !important;
    color: antiquewhite;
} 

/* hover tab color */
.nav-tabs > li > a:hover {
    border-color: #000000;
    background-color: #055f99 !important;    
}

.navtext {
    color: antiquewhite;
    font-style: italic;
}

.businessAddress li {
    list-style-type: none;
    font-size: 14px;
    text-align: right;
    margin: 0 15px 0 0;
}

.scrollable-event {
    margin-left: -40px;
    height: auto;
    max-height: 450px;
    cursor: pointer;
    overflow-x: hidden;
}



.SuperScript {
    font-size: 9px;
    position: relative;
    top: -3.5pt;
}

#header .navbar {
    max-height: 35px !important;
    max-height: 35px !important;
}

#sidebar {
    margin-top: 200px;
    position: absolute;
    height: 100%;
    width: 230px;
    overflow: hidden;
    left: 0;
    top: 0;
}

#content-wrapper {
    top: 0;
    left: 0;
    height: 100%;    
    margin: 0 0 0 230px;
}

#full-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-window {
    margin-bottom: 20px;
}

#full-content #main-window {
    flex-grow: 1;
}


@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: 0;
    }
}
