@using BecketLee.Models
@model BecketLee.ViewModels.RoleViewModel

<form asp-action="AddEditRole" role="form">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync( "_ModalHeader", new ModalHeader {Heading = $"{(String.IsNullOrEmpty( Model.Id ) ? "Add" : "Edit")} New Role"} )
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <label asp-for="RoleName"></label>
                    <input asp-for="RoleName" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync( "_ModalFooter", new ModalFooter {} )
</form>
