@model string
@using BecketLee.Models

<form asp-action="DeleteRole" role="form">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync( "_ModalHeader", new ModalHeader {Heading = "Delete Role"} )

    <div class="modal-body form-horizontal">
        Are you sure you want to delete @Model?
    </div>
    @await Html.PartialAsync( "_ModalFooter", new ModalFooter {SubmitButtonText = "Delete"} )
</form>
