<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="card ">
            <div class="card-header text-center">
                <h3>Reset password confirmation</h3>
            </div>
            <div class="card-body">
                <p>
                    Your password has been reset. Please <a asp-controller="Auth" asp-action="Login">Click here to log in</a>.    
                </p>
            </div>
        </div>
    </div>
</div>