@using BecketLee.ViewModels
@model EventViewModel
@{
    ViewBag.Title = "Edit Event";
}

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/datePicker.js"></script>
    <script language="javascript">
        CKEDITOR.replace('EventHtml');
    </script>
}


<div>
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
</div>

<div class="container-fluid">
    <form asp-action="EditEvent" asp-controller="Events" method="post">
        @Html.AntiForgeryToken()
        <div class="col-sm-7 col-md-8 col-lg-9">
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventHtml"></label>
                <textarea type="text" asp-for="EventHtml" name="EventHtml" id="EventHtml" class="form-control"></textarea>
                <span asp-validation-for="EventHtml"></span>
            </div>
            <div>
                <input asp-for="EventId" type="hidden" />
            </div>
        </div>
        <div id="eventForm" class="col-sm-5 col-md-4 col-lg-3">
            <div class="form-group">
                <label asp-for="StartDate">Start Date</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor( d => d.StartDate, "{0:MM/dd/yyyy}" ,new {id="StartDate", name="StartDate", placeholder="MM/DD/YYYY", @class = "form-control" } )
                    @*<input asp-for="StartDate" class="form-control" id="StartDate" name="StartDate" placeholder="MM/DD/YYYY" type="text" />*@
                    <span asp-validation-for="StartDate"></span>
                </div>
            </div>
            <div class="form-group">                
                <label asp-for="EndDate">End Date</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor( d => d.EndDate, "{0:MM/dd/yyyy}", new { id = "EndDate", name = "EndDate", placeholder = "MM/DD/YYYY", @class = "form-control" } )
                    @*<input asp-for="EndDate" class="form-control" id="EndDate" name="EndDate" placeholder="MM/DD/YYYY" type="text" />*@
                    <span asp-validation-for="EndDate"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="EventType.EventTypeId" class="control-label">Type (Pubs, News, Events)</label>
                <select asp-for="EventType.EventTypeId" asp-items="@Model.EventTypes" class="form-control">
                    <option>Please select</option>
                </select>
                <span asp-validation-for="EventType.EventTypeId"></span>
            </div>

            <div class="form-group pull-right">
                <a asp-controller="Events" asp-action="ManageEvents" class="btn btn-sm btn-default">Cancel</a>
                <input type="submit" class="btn btn-sm btn-success" value="Save" />
            </div>
        </div>
    </form>
</div>
