@using BecketLee.ViewModels
@model BecketLee.ViewModels.EventsViewModel
@{
    ViewBag.Title = "Events";
}

<div class="row">
    @await Html.PartialAsync( "_EventPanel",
        new EventsViewModel
        {
            Events = @Model.Events,
            SelectedTitle = Model.SelectedTitle,
            SelectedEventHtml = Model.SelectedEventHtml
        } )

    @await Html.PartialAsync( "_EventsListing",
    new EventsViewModel
    {
        Events = @Model.Events,
        SelectedTitle = Model.SelectedTitle,
        SelectedEventHtml = Model.SelectedEventHtml,
        ListCaption = "More Events..."
    } )


</div>