@using BecketLee.ViewModels
@model BecketLee.ViewModels.EventsViewModel
@{
    ViewBag.Title = "Publications";
}
<div class="row">
    @Html.Partial( "_EventPanel",
        new EventsViewModel
        {
            Events = Model.Events,
            SelectedTitle = Model.SelectedTitle,
            SelectedEventHtml = Model.SelectedEventHtml
        } )
    @Html.Partial( "_EventsListing",
        new EventsViewModel
        {
            Events = Model.Events,
            SelectedTitle = Model.SelectedTitle,
            SelectedEventHtml = Model.SelectedEventHtml,
            ListCaption = "More Publications..."
        } )
</div>
