@using BecketLee.ViewModels
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Becket & Lee LLP - @ViewBag.Title</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta id="LegalMeta" content="attorney, Attorney, ATtorNEy, ATTorney, ATTOrney, ATTORney, ATTORNey, ATTORNEy, ATTORNEY, BECKET &amp; LEE, Becket &amp; Lee, BEcket &amp; Lee, BECket &amp; Lee, BECKet &amp; Lee, BECKEt &amp; Lee, BECKET &amp; Lee, BECKET &amp; LEe, becket &amp; lee, BECKET LEE, Becket Lee, BEcket Lee, BECket Lee, BECKet Lee, BECKEt Lee, BECKET Lee, BECKET LEe, becket lee,    BECKETLEE, BecketLee, BEcketLee, BECketLee, BECKetLee, BECKEtLee, BECKETLee, BECKETLEe, becketlee, bECKETLEE, beCKETLEE, becKETLEE, beckETLEE, beckeTLEE, becketLEE, becketlEE, becketleE, bEcket &amp; lee, beCket &amp; lee, becKet &amp; lee, beckEt &amp; lee, beckeT &amp; lee, becket &amp; Lee, becket &amp; lEe, becket &amp; leE, BEcket &amp; lee, bECket &amp; lee, beCKet &amp; lee, becKEt &amp; lee, beckET &amp; lee, beckeT &amp; Lee, becket &amp; LEe, becket &amp; lEE, BEKket &amp; lee, bECKet &amp; lee, beCKEt &amp; lee, becKET &amp; lee, beckET &amp; Lee, beckeT &amp; LEe, becket &amp; LEE, BECKet &amp; lee, bECKEt &amp; lee, beCKET &amp; lee, becKET &amp; Lee, beckET &amp; LEe, beckeT &amp; LEE, BECKEt &amp; lee, bECKET &amp; lee, beCKET &amp; Lee, becKET &amp; LEe, beckET &amp; LEE, bankruptcy, Bankruptcy, BAnkruptcy, BANkruptcy, BANKruptcy, BANKRuptcy, BANKRUptcy, BANKRUPtcy, BANKRUPTcy, BANKRUPTCy, BANKRUPTCY, BAnkruptcy, bANkruptcy, baNKruptcy, banKRuptcy, bankRUptcy, bankrUPtcy, bankruPTcy, bankrupTCy, bankruptCY, BANkruptcy, bANKruptcy, baNKRuptcy, banKRUptcy, bankRUPtcy, bankrUPTcy, bankruPTCy, bankrupTCY, BANKruptcy, bANKRuptcy, baNKRUptcy, banKRUPtcy, bankRUPTcy, bankrUPTCy, bankruPTCY, Thomas Lee, Tom Lee, Alane Becket, Mickey Becket, William Becket, John Sheehan, Sandra Curtin" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/dist/cerulean/bootstrap.min.css" />*@

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css">

        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cerulean/bootstrap.min.css"
              rel="stylesheet"
              asp-fallback-href="~/lib/bootswatch/dist/cerulean/bootstrap.min.css"
              crossorigin="anonymous">


    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/partner.css" />
</head>

<body>
    <div class="container">

        <div id="header">
            <div class="row">
                <div class="image-container col">
                    <div class="image-item"><img src="~/image/headerLogo.gif" alt="Becket & Lee Logo" class="logoImage" /></div>
                </div>
                <div class="image-container col d-none d-lg-block">
                    <div class="image-item"><img src="~/image/B&L Firm-small2.jpg" alt="Offices" class="headerImage " /></div>
                    <div class="image-item"><img src="~/image/InLibrary225.jpg" alt="Library" class="headerImage "></div>
                    <div class="image-item"><img src="~/image/DSC_9999editSM.JPG" alt="Offices" class="headerImage" /></div>
                    <div class="image-item"><img src="~/image/DSC_9925edit2SM.JPG" alt="Computer Room" class="headerImage" /></div>
                </div>
            </div>
        </div>
        <nav class="navbar bg-dark ">
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="False" aria-label="Toggle navigation">
                <span><i class="fa fa-bars"></i></span>
            </button>
            <div class="navtext  mx-auto d-none d-sm-block">Your Proven Partner in Bankruptcy Management</div>
            <div class="navtext  mx-auto d-sm-none">Your Proven Partner</div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="navtext mx-auto">&nbsp;&nbsp;Welcome: @User.Identity.Name</div>
            }

        </nav>
        <div class="row">

            <div class="col-lg-3 ">

                <nav class="navbar bg-dark collapsed-lg" id="menu">

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-action="Index" asp-controller="Partners" data-toggle="dropdown" aria-haspopup="True" aria-expanded="True">
                                Partners
                            </a>
                            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                @await Html.PartialAsync("_partnerMenuView", (PartnerMenuViewModel)ViewBag.MenuModel)
                            </div>
                        </li>

                        <li class="nav-item" href="#"><a class="nav-link" asp-controller="Home" asp-action="OurServices"> Services </a></li>
                        <li class="nav-item" href="#"><a class="nav-link" asp-controller="Events" asp-action="News"> News </a></li>
                        <li class="nav-item" href="#"><a class="nav-link" asp-controller="Events" asp-action="Events"> Events </a></li>
                        @*<li class="nav-item" href="#"><a class="nav-link" asp-controller="Events" asp-action="Pubs"> Publications </a></li>
                            <li class="nav-item" href="#"><a class="nav-link" asp-controller="Events" asp-action="Cases"> Cases of Interest </a></li>*@
                        <li class="nav-item" href="#"><a class="nav-link" asp-controller="Home" asp-action="FirmHistory"> Firm History </a></li>
                        <li class="nav-item" href="#"><a class="nav-link" asp-controller="Home" asp-action="Contact"> Contact </a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="Auth" asp-action="Index">Manage Website</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Auth" asp-action="Logout"> <i class="fa fa-sign-out"></i> Logout</a></li>
                        }
                    </ul>
                    <br />
                    <div>
                        <ul class="businessAddress d-none d-lg-block">
                            <li>&nbsp;</li>
                            <li>Becket & Lee LLP</li>
                            <li>16 General Warren Blvd</li>
                            <li>Malvern, PA 19355</li>
                            <li>&nbsp;</li>
                            <li>610.644.7800</li>

                        </ul>
                    </div>

                </nav>
                <br />
                <div>
                    <ul class="affiliation d-none d-lg-block">
                        <li><img src="~/image/WBE_color_rgb_UP25.jpg" alt="WBENC" class="affiliationImage" /></li>
                    </ul>
                </div>

            </div>


            <div class="col-md-12 col-lg-9">
                @RenderBody()
            </div>
        </div>
        <footer>
            <br />
            <nav class="navbar navbar-default bg-dark ">
                <p class="navtext mx-auto">&copy; 2019 - Becket & Lee LLP</p>
            </nav>
        </footer>

    </div>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js">

        </script>

    @RenderSection("scripts", false)
    <script type="text/javascript" src="~/js/site.js"></script>

</body>
</html>
