@{
    ViewBag.Title = "Contact";
}
<div>
    <h3>Where To Find Us</h3>
    <p>Becket & Lee is located in Malvern, Pennsylvania, just outside Philadelphia, in state of the art offices designed specifically to enhance the efficiency of our processes.</p>
</div>
<div class="partnerDiv">
    <img src="~/image/Partners1900x1260.jpg" alt="Partners" class="partnerGroupImage"/>
    <span class="partnersText">
        Becket & Lee Partners: John Sheehan, <br />
        Sandy Curtin, Gil Weisman, Alane Becket, <br />Tom Lee and Bill Becket.
    </span>
</div>


<div>
    <h3>Want To Know Us Better?</h3>
    <p>Visits by prospective clients are encouraged and may be arranged by contacting Alane Becket or Tom Lee at 610.644.7800.</p>
</div>


<div>
    <h3>Disclaimer</h3>
    <p>
        Becket & Lee LLP represents creditors in bankruptcies. We do not represent individuals or organizations wishing to file for bankruptcy protection or others who are in positions adverse to our clients. By contacting us, the firm is not agreeing to represent you, nor is a client-lawyer relationship formed. Therefore, you should not transmit or send any confidential information because it may not be treated as a privileged communication. This site is intended to be informational in nature; it is not intended as legal advice and should not be construed as such.
    </p>
    <p>
        Any descriptions on this site detailing the results of any specific case or transaction does not mean or suggest that similar results can or could be obtained in any other matter. Each legal matter should be considered unique and subject to varying results.
    </p>
    <p>
        This site may offer links to other resources on the Internet as a convenience to our readers. We do not take any responsibility for the content, accuracy or timeliness of those other sites; nor do we endorse any commercial products that may be advertised or available on those sites.
    </p>
    <p>
        Becket & Lee LLP has endeavored to comply with all applicable legal and ethical requirements in compiling this site. Under no circumstances will Becket & Lee LLP undertake any engagement that conflicts with any ethical, statutory or other requirement applicable to the performance of professional legal services.
    </p>
    <p>
        These materials may be considered advertising in your state. Becket & Lee LLP does not wish to represent anyone desiring representation based upon viewing this site in a state where this site fails to comply with all laws and ethical rules of that state.
    </p>
</div>