@{
    ViewBag.Title = "Firm History";
}

<div>
    <h3>@ViewBag.Title</h3>
    <p>
        In 1984, retired partner Milton "Mickey" Becket had his own collection practice when a client asked him what could be done with its growing number of bankruptcies. "At the time, many banks just wrote off bankrupt debt. No one knew what to do with them, or thought they could recover anything," remembers Mr. Becket. Partnering with a bankruptcy practitioner to develop the process, Mickey envisioned a system for economically managing large numbers of bankruptcy claims using the technology he pioneered for handling collection accounts. "For years, our client was wondering when they would see any recoveries from their bankruptcies, and we had to make them understand that unsecured claims were often paid last. Then, about two years later, the trustee payments started to come in and the clients were thrilled. That's when we really started to grow."
    </p>
    <p>
        Since then, Becket & Lee has developed from a small regional collection firm, operating out of the first floor of Mickey's home in Philadelphia with a few employees, to a full-service bankruptcy operation, providing national representation to some of the most prestigious lenders and account purchasers in the country.
    </p>
</div>