@{
    ViewBag.Title = "Services";
}

<div class="page-header">
    <h3 class="text-default">Our Services</h3>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tabClaims" data-toggle="tab">Claims Filing and Case Administration</a></li>
                    <li><a href="#tabLitigation" data-toggle="tab">Litigation Services</a></li>
                    <li><a href="#tabSystem7" data-toggle="tab">System 7<span class="SuperScript">SM</span></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabClaims">
                        <p>
                            Let our team of dedicated bankruptcy professionals relieve you of the
                            day-to-day burden of managing your bankruptcy portfolio. We have the expertise,
                            experience, software and staff to manage:
                        </p>
                        <ul>
                            <li>Electronic Claims Filing</li>
                            <li>Electronic Bankruptcy Noticing</li>
                            <li>E-mail Notices from CM/ECF Courts</li>
                            <li>Redaction of Social Security Numbers</li>
                            <li>Electronic Payment Vouchers</li>
                            <li>Transfers of Claim</li>
                        </ul>
                        <p>
                            Partnering with Becket & Lee LLP also solves other common bankruptcy management issues, such as maintaining adequate staff levels as bankruptcies increase and decrease, and absorbing and processing the volume of paper mail that still keeps coming. We will monitor your cases to make sure your claims are properly filed, and that you get the recoveries which you are entitled to on your bankrupt accounts. You owe it to your bottom line to see how Becket & Lee can make a difference for you.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="tabLitigation">
                        <p>
                            Becket & Lee stands ready to apply its long experience with the Bankruptcy Courts to help you develop a cost-efficient and effective litigation program by providing complete legal services in all Bankruptcy Courts, utilizing a nationwide network of local counsel. At no time, however, does Becket & Lee “refer out” litigation accounts. We retain responsibility for all matters, and you work only with Becket & Lee attorneys, giving you confidence that your litigation is being handled by experts.
                        </p>
                        <p>
                            Among the litigation services we provide are:
                        </p>
                        <ul>
                            <li>Complaints to Determine Dischargeability of Debt</li>
                            <li>Objections to the Debtor’s Discharge</li>
                            <li>Objections to Confirmation of a Plan</li>
                            <li>Motions to Dismiss Under §707</li>
                            <li>Motions for Relief from the Co-Debtor Stay</li>
                            <li>Defense of Objections to Claim</li>
                            <li>Defense of Preference Actions</li>
                            <li>Defense of Trustee Avoidance Actions</li>
                            <li>Defense of Automatic Stay Violation Actions</li>
                            <li>Motions to Lift Automatic Stay</li>
                            <li>Motions to Value Collateral</li>
                            <li>Motions to Allow Administrative Claims</li>
                            <li>Motions for Setoff</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="tabSystem7">
                        <p>
                            Taking advantage of the latest technology and data resources, Becket & Lee has developed "System7<span class="SuperScript">SM</span>", which provides a cost effective method to track bankrupt Chapter 7 accounts. Your Chapter 7 accounts are referred to Becket & Lee, where System7<span class='SuperScript'>SM</span> monitors the bankruptcies until they have been closed by the court. The bankruptcies are regularly scrubbed. If an account is identified as an asset case, it is moved from System7<span class='SuperScript'>SM</span> to our core bankruptcy system. There, a Proof of Claim is generated, filed with the court according to local procedures, and the bankruptcy is monitored for activity and payment.
                        </p>
                        <p>
                            In addition, Becket & Lee’s System7<span class="SuperScript">SM</span> provides an electronic update to our clients when a Chapter 7 bankruptcy has been identified as:
                        </p>
                        <ul>
                            <li>Dismissed and closed by the court</li>
                            <li>Discharged and closed by the court</li>
                            <li>Converted to another chapter</li>
                            <li>Becoming an asset case</li>
                        </ul>
                        <p>
                            Becket & Lee’s System7<span class="SuperScript">SM</span> provides the technology and economies of scale to maximize Proof of Claim recoveries from Chapter 7 portfolios.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div id="exTab" class="container-fluid">

        <ul class="nav nav-pills ">
            <li class="active ">
                <a href="#1a" data-toggle="tab">Claims Filing and Case Administration</a>
            </li>
            <li>
                <a href="#2a" data-toggle="tab">Litigation Services</a>
            </li>
            <li>
                <a href="#3a" data-toggle="tab">System 7</a>
            </li>
        </ul>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="1a">
                <p>
                    Let our team of dedicated bankruptcy professionals relieve you of the
                    day-to-day burden of managing your bankruptcy portfolio. We have the expertise,
                    experience, software and staff to manage:
                </p>
                <ul>
                    <li>Electronic Claims Filing</li>
                    <li>Electronic Bankruptcy Noticing</li>
                    <li>E-mail Notices from CM/ECF Courts</li>
                    <li>Redaction of Social Security Numbers</li>
                    <li>Electronic Payment Vouchers</li>
                    <li>Transfers of Claim</li>
                </ul>
                <p>
                    Partnering with Becket & Lee LLP also solves other common bankruptcy management issues, such as maintaining adequate staff levels as bankruptcies increase and decrease, and absorbing and processing the volume of paper mail that still keeps coming. We will monitor your cases to make sure your claims are properly filed, and that you get the recoveries which you are entitled to on your bankrupt accounts. You owe it to your bottom line to see how Becket & Lee can make a difference for you.
                </p>

            </div>


            <div class="tab-pane" id="2a">
                <p>
                    Becket & Lee stands ready to apply its long experience with the Bankruptcy Courts to help you develop a cost-efficient and effective litigation program by providing complete legal services in all Bankruptcy Courts, utilizing a nationwide network of local counsel.  At no time, however, does Becket & Lee “refer out” litigation accounts.  We retain responsibility for all matters, and you work only with Becket & Lee attorneys, giving you confidence that your litigation is being handled by experts.
                </p>
                <p>
                    Among the litigation services we provide are:
                </p>
                <ul>
                    <li>Complaints to Determine Dischargeability of Debt</li>
                    <li>Objections to the Debtor’s Discharge</li>
                    <li>Objections to Confirmation of a Plan</li>
                    <li>Motions to Dismiss Under §707</li>
                    <li>Motions for Relief from the Co-Debtor Stay</li>
                    <li>Defense of Objections to Claim</li>
                    <li>Defense of Preference Actions</li>
                    <li>Defense of Trustee Avoidance Actions</li>
                    <li>Defense of Automatic Stay Violation Actions</li>
                    <li>Motions to Lift Automatic Stay</li>
                    <li>Motions to Value Collateral</li>
                    <li>Motions to Allow Administrative Claims</li>
                    <li>Motions for Setoff</li>
                </ul>
            </div>

            <div class="tab-pane" id="3a">
                <p>
                    Taking advantage of the latest technology and data resources, Becket & Lee has developed "System7<span class="SuperScript">SM</span>", which provides a cost effective method to track bankrupt Chapter 7 accounts. Your Chapter 7 accounts are referred to Becket & Lee, where System7<span class='SuperScript'>SM</span> monitors the bankruptcies until they have been closed by the court. The bankruptcies are regularly scrubbed.  If an account is identified as an asset case, it is moved from System7<span class='SuperScript'>SM</span> to our core bankruptcy system.   There, a Proof of Claim is generated, filed with the court according to local procedures, and the bankruptcy is monitored for activity and payment.
                </p>
                <p>
                    In addition, Becket & Lee’s System7<span class="SuperScript">SM</span> provides an electronic update to our clients when a Chapter 7 bankruptcy has been identified as:
                </p>
                <ul>
                    <li>Dismissed and closed by the court</li>
                    <li>Discharged and closed by the court</li>
                    <li>Converted to another chapter</li>
                    <li>Becoming an asset case</li>
                </ul>
                <p>
                    Becket & Lee’s System7<span class="SuperScript">SM</span> provides the technology and economies of scale to maximize Proof of Claim recoveries from Chapter 7 portfolios.
                </p>
            </div>
        </div>
    </div>*@



