

    <div class="col-sm-7 col-md-7 col-lg-7">

        <div class="panel panel-default">
            <div class="panel panel-heading text-center">
                <h3>@Model.SelectedTitle</h3>
            </div>
            <div class="panel panel-body">@Html.Raw( Model.SelectedEventHtml )</div>

        </div>
    </div>


