/******************  site.css  ********************/

.card {
    margin-top: 1em;
}


.affiliation li {
    list-style-type: none;
    margin-left: 0;
    /*display: block;*/
    /*margin: 40px;*/
    /*width: 50%;*/
}

.affiliationImage {
    max-width: 170px;
    /*padding: 8px;*/
}

.businessAddress li {
    list-style-type: none;
    font-size: 14px;
    text-align: right;
    margin: 0 0px 0 0;
    color: #eee;
}


.alaneNewsImage {
    max-width: 500px;
}

.dropdown-menu {
    margin: 0 !important;
    padding: 0 !important;
}

.eventText {
    font-size: small;
    margin: -5px;
}

.eventDate {
    font-size: x-small;
    font-weight: bold;
    font-style: italic;
    margin-left: -5px;
    color: #aaa;
}

.fa-bars {
    color: white;
}

.headerImage {
    max-width: 200px;
    border-width: 1px;
    padding: 20px 2px 15px;
}

.logoImage {
    max-width: 200px;
    /*padding: 10px;*/
    padding: 20px 2px 15px;
    /*padding-bottom: 20px;*/
    /*left: 0;*/
}

.subMenuSelector {
    cursor: pointer;
}


.image-container {    
    white-space: nowrap;
}

.image-item {
    display: inline-block;
    white-space: normal;
}

#menu {
    min-width: 210px;
}

#menu .active {
    background-color: #356fa9;
}

#menu .nav .ul .li {
    max-height: 20px;
}

#menu li :hover {
    background-color: #777777
}

#menu li a {
    line-height: 22px;
    height: 22px;
    width: 160px;
    background-size: auto;
    text-align: right;
    padding-top: 0px;
    color: #eee;
}

.navtext {
    color: antiquewhite;
    font-style: italic;    
}

/*  footer  */
.navbar-fixed-bottom li {
    list-style-type: none;
}


.scrollable-event {
    margin-left: -40px;
    height: auto;
    max-height: 520px;
    cursor: pointer;
    overflow-x: hidden;
}



.SuperScript {
    font-size: 9px;
    position: relative;
    top: -3.5pt;
}


@media (min-width: 768px) {
    .test-shrink {
        float: right !important;
        margin-right: 0;
    }

}
