@model BecketLee.ViewModels.UserViewModel
@using BecketLee.Models

<form asp-action="AddUser" role="form">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync( "_ModalHeader", new ModalHeader {Heading = "Add New User"} )
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="UserName" class="col-md-3 col-sm-3 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="UserName" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-3 col-sm-3 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="Email" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationRoleId" class="col-md-3 col-sm-3 control-label"></label>
                    <div class="col-md-6">
                        <select asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles" class="form-control">
                            <option>Please select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-3 col-sm-3 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="Password" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-3 col-sm-3 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="ConfirmPassword" class="form-control"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync( "_ModalFooter", new ModalFooter {} )
</form>


