@model BecketLee.ViewModels.UserViewModel
@using BecketLee.Models


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form asp-action="EditUser" role="form" novalidate>
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <div>
                <ul asp-for="UserRoles" class="control-label">
                    @foreach (var item in @Model.UserRoles)
                    {
                        <li>item.RoleName</li>
                    }
                </ul>
            </div>

            <div class="pull-right form-group">
                <a asp-controller="Users" asp-action="Index" class="btn btn-sm btn-default">Cancel</a>
                <input type="submit" class="btn btn-sm btn-success" value="Save" />
            </div>

        </form>
    </div>
</div>